@import 'global';

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $space-8;
  position: relative;
}

.select {
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border-radius: $radius-md;
  padding: 0 $space-16;
  border: none;
  outline: none;
  background-color: $color-input;
  color: $color-white;
  appearance: none;
}

.placeholder {
  color: $color-placeholder;
}
