@import 'global';

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.input {
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border-radius: $radius-md;
  padding: 0 $space-16;
  border: none;
  outline: none;
  background-color: $color-input;
  color: $color-white;

  &:focus {
    color: $color-input;
    background-color: $color-white;
    outline: 1px solid $color-input;
  }

  &::placeholder {
    color: $color-white;
    opacity: 0.4;
  }

  &.error {
    outline: 1px solid $color-error;
  }
}

.errorMessage {
  text-align: left;
  color: $color-error;
}
