@import '~/global.css';
$form-left-max-width: 362px;

.form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: $space-120;
  row-gap: $space-64;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'IMAGE FIELDS'
    'IMAGE ACTIONS';

  @media (--desktop) {
    column-gap: $space-80;
  }

  @media (--tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: $space-80;
    row-gap: $space-24;
    grid-template-areas:
      'FIELDS'
      'IMAGE'
      'ACTIONS';
  }

  @media (--mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: $space-24;
    grid-template-areas:
      'FIELDS'
      'IMAGE'
      'ACTIONS';
  }
}

.image {
  grid-area: IMAGE;
  max-width: 470px;
  width: 40vw;
  height: auto;

  @media (--tablet) {
    width: 100%;
    max-width: none;
  }

  @media (--mobile) {
    width: 100%;
    max-width: none;
  }
}

.box {
  height: 300px;
  width: 100%;
  background-color: red;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: $space-16;
  grid-area: FIELDS;

  @media (--large) {
    max-width: $form-left-max-width;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (--desktop) {
    max-width: $form-left-max-width;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.fullWidth {
  @media (--large) {
    flex: 0 0 100%;
  }
  @media (--desktop) {
    flex: 0 0 100%;
  }
}

.halfWidth {
  @media (--large) {
    flex: 0 0 calc(50% - 8px);
  }
  @media (--desktop) {
    flex: 0 0 calc(50% - 8px);
  }
}
.actions {
  display: flex;
  align-items: flex-start;
  gap: $space-16;
  grid-area: ACTIONS;
  @media (--large) {
    max-width: $form-left-max-width;
  }
  @media (--desktop) {
    max-width: $form-left-max-width;
  }
}

.button {
  flex: 1;
}
