@import 'global';

.form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: $space-120;
  row-gap: $space-64;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'IMAGE FIELDS'
    'IMAGE ACTIONS';

  @media (--tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: $space-24;
    grid-template-areas:
      'FIELDS'
      'IMAGE'
      'ACTIONS';
  }

  @media (--mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: $space-24;
    grid-template-areas:
      'FIELDS'
      'IMAGE'
      'ACTIONS';
  }
}

.image {
  grid-area: IMAGE;
  max-width: 470px;
  width: 40vw;

  @media (--tablet) {
    width: 100%;
    max-width: none;
  }

  @media (--mobile) {
    width: 100%;
    max-width: none;
  }
}

.box {
  height: 300px;
  width: 100%;
  background-color: red;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: $space-16;
  grid-area: FIELDS;
}

.actions {
  display: flex;
  align-items: flex-start;
  gap: $space-16;
  grid-area: ACTIONS;
}
