@import '~/global.css';

.wrapper {
  position: relative;
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.languageMenu {
  position: absolute;
  top: $space-24;
  right: $space-24;
}

.waveIcon {
  position: absolute;
  bottom: 0;
  width: 100%;
}
