$color-primary: #2BD17E;
$color-error: #EB5757;
$color-bg: #093545;
$color-input: #224957;
$color-card: #092C39;
$color-card-hover: #1f424e;
$color-white: #fff;
$color-placeholder: #7a929b;
$color-link: #2BD17E;
$color-star: #f5c518;