@import 'global';

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $space-24;
  max-width: 1440px;
  padding: $space-120;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;

  @media (--desktop) {
    padding: $space-64;
  }

  @media (--tablet) {
    grid-template-columns: repeat(9, 1fr);
    padding: $space-80 $space-32 $space-32;
  }

  @media (--mobile) {
    grid-template-columns: repeat(2, 1fr);
    padding: $space-80 $space-24 $space-24;
    column-gap: $space-16;
  }

  @media (--xs-mobile) {
    grid-template-columns: repeat(1, 1fr);
    padding: $space-80 $space-24 $space-24;
    column-gap: $space-16;
  }
}
