@import 'global';

.list {
  flex: 1;
  display: flex;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: $space-40;
}

.emptyHeader {
  color: $color-white;
}

.emptyActionContainer {
  text-align: center;
}

.emptyButton {
  padding-left: $space-28;
  padding-right: $space-28;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-120;

  @media (--tablet) {
    margin-bottom: $space-80;
  }

  @media (--mobile) {
    margin-bottom: $space-80;
  }
}

.heading {
  color: $color-white;
}

.desktop {
  @media (--tablet) {
    display: none;
  }
  @media (--mobile) {
    display: none;
  }
}

.mobile {
  @media (--large) {
    display: none;
  }
  @media (--desktop) {
    display: none;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: $space-12;
}

.add {
  text-decoration: none;
  width: $space-32;
  height: $space-32;
}

.logoutContainer {
  display: flex;
  align-items: center;
  gap: $space-12;
  cursor: pointer;
}

.logoutText {
  color: $color-white;
}

.wrapper {
}

.listItem {
  grid-column: span 3;
  overflow: hidden;
  margin-bottom: $space-24;

  @media (--tablet) {
    grid-column: span 3;
  }

  @media (--mobile) {
    grid-column: span 1;
  }
}

.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -$space-24;
  padding-top: $space-120;
}
