@import '~/global.css';

.rating {
  display: flex;
  gap: $space-4;
}

.rate {
  color: transparent;
  height: $space-24;
  width: $space-24;
  cursor: pointer;

  &.fill {
    color: $color-star;
  }
}
