@import 'global';

.container {
  background-color: $color-input;
  width: 100%;
  height: 100%;
  border-radius: $radius-md;
  border: 2px dashed $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.2s linear;
  position: relative;
  box-sizing: border-box;

  &:hover {
    filter: blur(2);
  }

  @media (--tablet) {
    padding: $space-160 0;
  }

  @media (--mobile) {
    padding: $space-80 0;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: $radius-md;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.icon {
  width: $space-24;
  height: $space-24;
}
