@import 'global';

.button {
  padding: $space-16 0;
  border: none;
  box-sizing: border-box;
  border-radius: $radius-md;
  color: $color-white;
  cursor: pointer;

  &.filled {
    background-color: $color-primary;
  }

  &.outlined {
    background-color: transparent;
    outline: 1px solid $color-white;
  }
}
